a {
    text-decoration: none;
    color: #000000;
}

body  {
    width: 1120px;
    margin: 0 auto;
    padding: 10px;
    font-family: Calibri, serif;
}
header {
    border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    height: 120px;
}
header > form {
    float: right;
    padding-top: 10px;
}

header > form > #userPass {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}
header > form > #userPass > div {
    display: inline-block;

}
header > form > #userPass > div > label {
    font-size: 14px;
}
header > form > #userPass > div > div > #username,
header > form > #userPass > div > div > #password{
    margin-top: 2px;
    width: 110px;
}

header > form > #submit {
    float: right;
    margin-right: 10px;
}
header > form > #submit > div {
    margin-bottom: 2px;
}


header > form > #submit > div > input[type='submit'] {
    background-color: #ffffff;
    border: 1px solid darkgrey;
    width: 100px;
    font-size: 12px;
}

header > form > #submit > div > input[type='submit']:hover {
    background-color: #99CCFF;
    cursor: pointer;
    transition: 1s;
}
header > #logo {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
header > h1 {
    text-align: center;
    position: relative;
    left: 30px;
    top: 30px;
    font-weight: normal;
    font-style: italic;
    width: 750px;

}
header > nav {
    float: right;
    padding-right: 10px;
}
header > nav > a {
    float: right;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px 0 10px 0;
}
header > nav > a:hover {
    background-color: #99CCFF;
    opacity: 1;
    transition: 1s;

}
aside {
    content: "";
    clear: both;
    display: block;
    zoom: 1;
    float: left;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 0 0 0 5px;
    width: 200px;
    height: 910px;
    position: relative;
    margin-bottom: 10px;
}


aside > nav > h3 {
    margin: 0 15px;
    padding-left: 5px;
    font-weight: normal;
    border-left: 5px solid red;
}
aside > nav > ul {
    list-style: none;
    padding: 10px 15px ;
    margin: 0;
    border-radius: 0 0 5px 5px;
    border-top: none;
}
aside > nav > ul > li > a {
    padding: 0 5px;
}
aside > nav > ul > li {
    cursor: pointer;
}

aside > nav > ul > #category1 {
    border-left: 5px solid palevioletred;
}
aside > nav > ul > #category1:hover {
    background-color: palevioletred;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category2 {
    border-left: 5px solid #ffff00;
}
aside > nav > ul > #category2:hover {
    background-color: #ffff00;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category3 {
    border-left: 5px solid lightgreen;
}
aside > nav > ul > #category3:hover {
    background-color: lightgreen;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category4 {
    border-left: 5px solid lightskyblue;
}
aside > nav > ul > #category4:hover {
    background-color: lightskyblue;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category5 {
    border-left: 5px solid orange;
}
aside > nav > ul > #category5:hover {
    background-color: orange;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category6 {
    border-left: 5px solid #c0c0c0;
}
aside > nav > ul > #category6:hover {
    background-color: #c0c0c0;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category7 {
    border-left: 5px solid lightgreen;
}
aside > nav > ul > #category7:hover {
    background-color: lightgreen;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category8 {
    border-left: 5px solid lightcyan;
}
aside > nav > ul > #category8:hover {
    background-color: lightcyan;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category9 {
    border-left: 5px solid indianred;
}
aside > nav > ul > #category9:hover {
    background-color: indianred;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category10 {
    border-left: 5px solid blueviolet;
}
aside > nav > ul > #category10:hover {
    background-color: blueviolet;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category11 {
    border-left: 5px solid coral;
}
aside > nav > ul > #category11:hover {
    background-color: coral;
    border-radius: 10px 0 10px 0;;
    transition: 1s;
}
aside > nav > ul > #category12 {
    border-left: 5px solid indianred;
}
aside > nav > ul > #category12:hover {
    background-color: indianred;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category13 {
    border-left: 5px solid greenyellow;
}
aside > nav > ul > #category13:hover {
    background-color: greenyellow;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category14 {
    border-left: 5px solid royalblue;
}
aside > nav > ul > #category14:hover {
    background-color: royalblue;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category15 {
    border-left: 5px solid darkgoldenrod;
}
aside > nav > ul > #category15:hover {
    background-color: darkgoldenrod;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category16 {
    border-left: 5px solid saddlebrown;
}
aside > nav > ul > #category16:hover {
    background-color: saddlebrown;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}
aside > nav > ul > #category17 {
    border-left: 5px solid gold;
}
aside > nav > ul > #category17:hover {
    background-color: gold;
    border-radius: 10px 0 10px 0;
    transition: 1s;
}

aside > nav > img {
    position: absolute;
    top:709px;
    left: 40px;
}

main {
    width: 915px;
    float: right;
    border-top: 1px solid lightgray;
    margin-bottom: 10px;

}
main > article {
    height: 150px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}
main > article > h2 {
    margin: 0;
}

footer {
    content: "";
    clear: both;
    display: block;
    zoom: 1;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
footer > a {
    padding: 3px 5px;
    margin-left: 15px;

}
footer > a:hover {
    background-color: #99CCFF;
    border-radius: 10px 0 10px 0;
    transition: 1s;

}

main > article > a {
    color: #0080FF;
    font-size: 14px;
}