@charset "utf-8";

/*
 * aciTree jQuery Plugin
 * http://acoderinsights.ro
 *
 */

.aciTree {
    outline: none;
}
.aciTree .aciTreeUl {
    list-style:none;
    margin:0;
    padding:0;
}
.aciTree .aciTreeLi {
    display:block;
    clear:both;
    white-space:nowrap;
}
.aciTree .aciTreeLine:focus {
    outline:none;
}

.aciTree .aciTreeLi.aciTreeHidden {
    display:none;
}

/* the branch line */
.aciTree .aciTreeBranch {
    padding-left:20px; /* branch indent */
    background:url(tree-branch.png) left 1px repeat-y;
}
.aciTree[dir=rtl] .aciTreeBranch {
    padding-left:0;
    padding-right:20px; /* branch indent */
    background:url(tree-branch.png) right 1px repeat-y;
}
/* the branch line behind the button (for the siblings) */
.aciTree .aciTreeEntry {
    overflow:hidden;
    background:url(tree-branch.png) left 1px repeat-y;
}
.aciTree[dir=rtl] .aciTreeEntry {
    background:url(tree-branch.png) right 1px repeat-y;
}
.aciTree .aciTreeLi.aciTreeLast>.aciTreeLine .aciTreeEntry,
.aciTree.aciTreeNoBranches .aciTreeEntry {
    background:none;
}

.aciTree.aciTreeBig .aciTreeEntry {
    padding:0 0 2px 0;
}

.aciTree .aciTreeButton, .aciTree .aciTreePush, .aciTree .aciTreeItem, .aciTree .aciTreeIcon, .aciTree .aciTreeText, .aciTree .aciTreeColumn {
    display:inline-block;
    height:20px;
    line-height:20px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#000;
    vertical-align:top;
}
.aciTree.aciTreeBig .aciTreeText, .aciTree.aciTreeBig .aciTreeColumn {
    font-size:12px;
}

.aciTree .aciTreeDisabled>.aciTreeLine .aciTreeText, .aciTree .aciTreeDisabled>.aciTreeLine .aciTreeColumn {
    color:#888;
}

.aciTree .aciTreeItem {
    padding:0 2px 0 2px;
    border:1px solid transparent;
    height:auto;
    white-space:normal;
    cursor:pointer;
    /* margin-right need to be set to icon width [.aciTree .aciTreeIcon = 20] +
    item padding [.aciTree .aciTreeItem = 4] (+ the width of all columns, if any) */
    margin-right:24px;
}
.aciTree[dir=rtl] .aciTreeItem{
    margin-right:0;
    /* margin-left need to be set to icon width [.aciTree .aciTreeIcon = 20] +
    item padding [.aciTree .aciTreeItem = 4] (+ the width of all columns, if any) */
    margin-left:24px;
}

/* columns width/style (left to right, if any) */

.aciTree .aciTreeColumn0 {
    width:80px;
}
.aciTree .aciTreeColumn1 {
    width:60px;
}
.aciTree.aciTreeFocus .aciTreeSelected>.aciTreeLine .aciTreeItem {
    background-color:#bbb; /*Nastrojka cveta na selekta*/
}
.aciTree.aciTreeFocus .aciTreeFocus>.aciTreeLine .aciTreeItem {
    /* not selected but with focus */
    border:1px solid #84acdd;
}
.aciTree.aciTreeFocus .aciTreeSelected.aciTreeFocus>.aciTreeLine .aciTreeItem {
    border:1px dashed #84acdd;
}
/* default - item in the middle (comment the hover part to keep the same button image) */

.aciTree .aciTreeButton, .aciTree .aciTreePush {
    width:18px;
    background:url(tree-small.png) -7px -35px no-repeat;
}
.aciTree.aciTreeNoBranches .aciTreeButton,
.aciTree .aciTreeLeaf>.aciTreeLine .aciTreePush { background:none !important; }

.aciTree .aciTreeInodeMaybe>.aciTreeLine .aciTreePush { background-position:-67px -5px !important; }
.aciTree .aciTreeInodeMaybe>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-67px -35px !important; }
.aciTree .aciTreeInode>.aciTreeLine .aciTreePush { background-position:-97px -5px !important; }
.aciTree .aciTreeInode>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-97px -35px !important; }
.aciTree .aciTreeOpen>.aciTreeLine .aciTreePush { background-position:-127px -5px !important; }
.aciTree .aciTreeOpen>.aciTreeLine .aciTreePush.aciTreeHover { background-position:-127px -35px !important; }

/* if it's the last item in list */

.aciTree .aciTreeLi.aciTreeLast>.aciTreeLine .aciTreeButton { background-position:-37px -5px !important; }

/* the item loader */

.aciTree .aciTreeLoad>.aciTreeLine .aciTreePush {
    position:relative;
    /* uncomment next line to hide the button while loading */
    /*background:none !important;*/
}
.aciTree .aciTreeLoad>.aciTreeLine .aciTreePush>span {
    display:inline-block;
}

/* demo file/folder icon class */

.aciTree .aciTreeIcon.folder {
    background-position:-157px -5px !important;
}
.aciTree .aciTreeLine.aciTreeHover .aciTreeIcon.folder {
    /* comment next line to keep the same icon on hover */
    background-position:-157px -35px !important;
}
.aciTree .aciTreeIcon.file {
    background-position:-187px -5px !important;
}
.aciTree .aciTreeLine.aciTreeHover .aciTreeIcon.file {
    /* comment next line to keep the same icon on hover */
    background-position:-187px -35px !important;
}

/* demo row colors */

.aciTree.aciTreeColors .aciTreeOdd>.aciTreeLine {
    /* odd rows */
    background-color:#FFFFC4;
}
.aciTree.aciTreeColors .aciTreeEven>.aciTreeLine {
    /* even rows */
    background-color:#CAFFCA;
}
.aciTree.aciTreeColors .aciTreeFirst>.aciTreeLine {
    /* first item on each level */
    /*background-color:#B0DFFF;*/
}
.aciTree.aciTreeColors .aciTreeLast>.aciTreeLine {
    /* last item on each level */
    /*background-color:#FFCEFF;*/
}

/* uncomment below to keep the item in one line and scroll the tree horizontally when needed */

/*

.aciTree .aciTreeEntry {
    overflow:visible;
}

.aciTree .aciTreeItem {
    white-space:nowrap;
    margin-right:12px;
}

*/
