body {
    width: 900px;
    margin: 0 auto;
    font-family: Calibri, serif;
}
body > header {
    border: 1px solid darkgray;
    box-shadow: 0 0 5px lightgray;
    padding: 5px;
}

body > header > a {
    text-decoration: none;
    color: #808080;

}
#container {
    margin: 100px auto;
}
#container > form > main {
    float: left;
}

#title {
    height: 30px;
    width: 605px;
    font-size: 20px;
    box-shadow: 0 0 5px lightgray;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
nav.upload {
    margin: 10px 0;
    position: relative;
    width: 90px;
    height: 33px;
    border: 1px solid lightgray;
    background-color: royalblue;
    box-shadow: 0 0 5px lightgray;
}
nav.upload:before {
    content: 'Медиа';
    color: #ffffff;
    position: absolute;
    top: 8px;
    left: 20px;
}
nav.upload:hover {
    opacity: 0.9;
    transition: 1s;
}

#upload   {
    display: block;
    width: 90px;
    height: 33px;
    opacity: 0;
}

div {
    margin-bottom: 10px;
}
textarea {
    width: 600px;
    height: 500px;
    box-shadow: 0 0 5px lightgray;
    border: 1px solid lightgray;
}
#buttons {
    float: right;
}
#cancel {
    background-color: #ffffff;
    border: 1px solid lightgray;
    padding: 10px 20px;
    box-shadow: 0 0 5px lightgray;
}
#publish {
    background-color: royalblue;
    color: #ffffff;
    border: 1px solid lightgray;
    padding: 10px 20px;
    box-shadow: 0 0 5px lightgray;
}
#publish:hover {
    opacity: 0.9;
    transition: 1s;
}
#categories {
    float: right;
}
h2 {
    /*margin-top: 80px;*/
    font-weight: normal;
    font-size: 20px;
    color: darkgray;
}

#categories > div {
    width: 200px;
    height: 410px;
    box-shadow: 0 0 5px lightgray;
    border: 1px solid lightgray;

}

#categories > div > p {
    margin: 5px;
}

#image {
    clear: both;
    content: "";
}
#uploadImage {
    float: right;
    margin-top: 100px;
}

#text1 {
    width: 600px;
    height: 500px;
    box-shadow: 0 0 5px lightgray;
    border: 1px solid lightgray;

}